@(addressForm: Form[Address])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main("Search for weather") {
    <h1>Select location</h1>
    @form(routes.Application.weather) {

        <fieldset>

        @inputText(addressForm("name"), '_label -> "Address")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Search weather" class="btn primary"> or
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>

    }
}
