@(address: Form[Address])
<!DOCTYPE html>


<!doctype html>
<html lang="en" ng-app="playApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <title></title>

    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/map.css")">

    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARAKuvbDq5--OFb1P90GDIlOjNvw_xdrI&sensor=false"></script>
</head>
<body>
    <div class="container">
@import helper._
@import util.ViewHelper._

     @form(action = routes.Application.getLocationWithWeatherPost){
        @inputText(address("address")) <br>
        <input type="submit" class="btn-primary">
     }
    </div>
</body>
</html>
